In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [2]:
df=pd.read_excel('Course Project - Data for Classification - Electric Vehicles.xls')
#df.head()

In [3]:
#print(df.dtypes)

In [4]:
#print(df['Q16'].unique())

In [5]:
#df['Q16'].value_counts()

In [6]:
#df.head()

In [7]:
# Replace non-numeric values with NaN
df.replace('?', np.nan, inplace=True)
df.head()

# Assuming you want to replace 'A' with 1 and 'B', 'C', 'D' with 0
df['Q16'] = df['Q16'].replace({'A': 0, 'B': 1, 'C': 2, 'D': 3})

pd.set_option('display.max_columns', None)

print(df.head())

   Q11_1  Q11_2  Q11_3  Q11_4  Q11_5  Q11_6  Q11_7  Q11_8  Q11_9  Q11_10  \
0      0      0      0      1      1      0      0      1      0       0
1      1      0      0      1      0      0      1      0      0       1
2      1      1      0      1      0      0      1      1      0       1
3      0      0      0      0      0      0      0      0      0       0
4      1      1      0      1      0      0      1      1      0       1

   Q11_11  Q11_12  Q11_13  Q11_Dont_Know  Q12_1  Q12_2  Q12_3  Q12_4  Q12_5  \
0       1       0       0              0      0      0      1      1      0
1       0       0       0              0      0      0      1      1      0
2       0       0       0              0      1      0      1      1      0
3       0       0       0              1      0      0      0      0      0
4       1       0       0              0      0      0      0      1      0

   Q12_6  Q12_7  Q12_8  Q12_9  Q12_10  Q12_11  Q12_12  Q12_13  Q12_14  \
0      0      0      1      0       0       1       0       0       0
1      0      0      0      0       1       0       0       0       0
2      0      0      1      0       1       0       0       0       0
3      0      0      0      0       0       0       0       0       1
4      0      0      0      0       0       0       0       0       0

   Q12_Dont_Know  Q13_1  Q13_2  Q13_3  Q13_4  Q13_5  Q13_6  Q13_7  Q13_8  \
0              0      0      0      1      0      1      0      0      0
1              0      0      0      0      0      1      1      0      0
2              0      1      1      0      0      1      1      0      0
3              0      0      0      0      0      0      0      0      0
4              0      0      0      0      0      0      0      0      0

   Q13_9  Q13_10  Q13_11  Q13_12  Q13_13  Q13_14  Q13_15  Q13_16  \
0      1       0       0       0       1       1       0       0
1      1       0       1       0       0       0       0       0
2      1       0       0       0       0       1       0       0
3      0       0       0       0       0       0       0       1
4      0       0       0       0       0       1       0       0

   Q13_Dont_Know  Q14  Q15  Q17  Q18_1  Q18_2  Q18_3  Q18_4  Q18_5  Q18_6  \
0              0  1.0  2.0  3.0    5.0    5.0    5.0    5.0    5.0    5.0
1              0  3.0  2.0  3.0    4.0    3.0    2.0    4.0    3.0    2.0
2              0  1.0  2.0  1.0    5.0    NaN    4.0    NaN    4.0    4.0
3              0  NaN  2.0  NaN    NaN    NaN    NaN    NaN    NaN    NaN
4              0  NaN  2.0  NaN    NaN    4.0    NaN    NaN    2.0    NaN

   Q18_7  Q18_8  Q18_9  Q18_10  Q18_11  Q18_12  Q18_13  Q18_14  Q18_15  \
0    5.0    5.0    5.0     5.0     5.0     5.0     5.0     5.0     5.0
1    2.0    3.0    3.0     3.0     2.0     1.0     2.0     4.0     2.0
2    4.0    4.0    4.0     4.0     NaN     4.0     NaN     4.0     NaN
3    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     NaN
4    NaN    NaN    NaN     NaN     NaN     NaN     NaN     NaN     2.0

   Q18_16  Q18_17  Q18_18  Q18_19  Q18_20  Q18_21  Q18_22  Q18_23  Q20  Q21  \
0     5.0     5.0     5.0     5.0     5.0     5.0     5.0     5.0    3    3
1     2.0     4.0     2.0     4.0     2.0     2.0     2.0     2.0    3    3
2     NaN     4.0     4.0     NaN     NaN     4.0     2.0     4.0    4    1
3     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    3    3
4     NaN     NaN     NaN     1.0     1.0     NaN     NaN     NaN    3    3

   Q16
0    0
1    3
2    0
3    2
4    3

In [8]:
from sklearn.impute import SimpleImputer

# Replace '?' with NaN for proper handling
df.replace('?', pd.NA, inplace=True)
original_df = df.copy()
# Specify the imputation strategy (mean or median)
strategy = 'mean'  # or 'median'
df = df.drop(columns=['Q16'])
# Create the imputer
imputer = SimpleImputer(strategy=strategy)

# Apply imputation
imputed_data = imputer.fit_transform(df)

# Convert the result back to a DataFrame
imputed_df = pd.DataFrame(imputed_data, columns=df.columns)
imputed_df['Q16'] = original_df['Q16']

In [9]:
column_range = df.loc[:, 'Q14':'Q21']

# Iterate over columns and print value counts
for column in column_range.columns:
    value_counts = column_range[column].value_counts()
    print(f"Column: {column}")
    print(value_counts)
    print("\n")

Column: Q14
Q14
2.0    1697
1.0    1615
3.0    1448
5.0     494
4.0     432
Name: count, dtype: int64


Column: Q15
Q15
2.0    4206
1.0    1810
Name: count, dtype: int64


Column: Q17
Q17
2.0    2011
1.0    1644
3.0    1079
4.0     354
5.0     278
Name: count, dtype: int64


Column: Q18_1
Q18_1
4.0    1686
3.0    1614
5.0    1225
2.0     574
1.0     450
Name: count, dtype: int64


Column: Q18_2
Q18_2
4.0    1852
3.0    1542
5.0    1051
2.0     492
1.0     282
Name: count, dtype: int64


Column: Q18_3
Q18_3
3.0    1642
4.0    1244
5.0     770
2.0     711
1.0     380
Name: count, dtype: int64


Column: Q18_4
Q18_4
3.0    1572
4.0    1497
2.0    1024
5.0     859
1.0     355
Name: count, dtype: int64


Column: Q18_5
Q18_5
3.0    1743
4.0    1004
2.0     907
5.0     512
1.0     354
Name: count, dtype: int64


Column: Q18_6
Q18_6
2.0    1690
3.0    1526
1.0     743
4.0     672
5.0     258
Name: count, dtype: int64


Column: Q18_7
Q18_7
2.0    1705
3.0    1678
4.0     936
1.0     559
5.0     283
Name: count, dtype: int64


Column: Q18_8
Q18_8
4.0    1639
3.0    1354
2.0     922
5.0     811
1.0     670
Name: count, dtype: int64


Column: Q18_9
Q18_9
4.0    1789
3.0    1439
5.0     902
2.0     616
1.0     307
Name: count, dtype: int64


Column: Q18_10
Q18_10
3.0    1687
4.0    1163
2.0     850
5.0     552
1.0     435
Name: count, dtype: int64


Column: Q18_11
Q18_11
2.0    1963
3.0    1596
4.0     684
1.0     683
5.0     264
Name: count, dtype: int64


Column: Q18_12
Q18_12
3.0    1671
2.0    1571
1.0     763
4.0     723
5.0     254
Name: count, dtype: int64


Column: Q18_13
Q18_13
2.0    1891
3.0    1407
1.0    1025
4.0     796
5.0     251
Name: count, dtype: int64


Column: Q18_14
Q18_14
4.0    1657
3.0    1501
2.0    1008
5.0     789
1.0     366
Name: count, dtype: int64


Column: Q18_15
Q18_15
2.0    1654
3.0    1365
1.0     895
4.0     601
5.0     232
Name: count, dtype: int64


Column: Q18_16
Q18_16
2.0    1666
3.0    1349
1.0     896
4.0     509
5.0     228
Name: count, dtype: int64


Column: Q18_17
Q18_17
3.0    1566
4.0    1318
2.0    1023
1.0     514
5.0     471
Name: count, dtype: int64


Column: Q18_18
Q18_18
2.0    2078
1.0    1273
3.0    1134
4.0     424
5.0     172
Name: count, dtype: int64


Column: Q18_19
Q18_19
3.0    1538
4.0    1119
2.0     762
1.0     503
5.0     465
Name: count, dtype: int64


Column: Q18_20
Q18_20
2.0    1720
1.0    1339
3.0    1128
4.0     584
5.0     239
Name: count, dtype: int64


Column: Q18_21
Q18_21
3.0    1735
2.0    1085
4.0     725
1.0     565
5.0     329
Name: count, dtype: int64


Column: Q18_22
Q18_22
2.0    1477
3.0    1373
1.0     847
4.0     520
5.0     191
Name: count, dtype: int64


Column: Q18_23
Q18_23
3.0    1556
2.0    1452
1.0     920
4.0     531
5.0     198
Name: count, dtype: int64


Column: Q20
Q20
3    3740
2    1043
4     740
1     414
5     171
Name: count, dtype: int64


Column: Q21
Q21
3    2983
2    2094
1     527
4     323
5     181
Name: count, dtype: int64

In [10]:
unexpected_values = imputed_df[~imputed_df['Q14'].isin(['1', '2', '3', '4', '5'])]['Q14'].unique()
print("Unexpected values in 'Q14':", unexpected_values)


imputed_df['Q14'] = imputed_df['Q14'].astype(int)

unexpected_values = imputed_df[~imputed_df['Q14'].isin(['1', '2', '3', '4', '5'])]['Q14'].unique()
print("Unexpected values in 'Q14':", unexpected_values)



# Convert to string type if not already
imputed_df['Q14'] = imputed_df['Q14'].astype(str)

# Apply one-hot encoding
df_encoded = pd.get_dummies(imputed_df['Q14'], prefix='Q14')

# Concatenate the new one-hot encoded columns with the original DataFrame
imputed_df = pd.concat([imputed_df, df_encoded], axis=1)




pd.set_option('display.max_columns', None)

print(imputed_df.head())

unexpected_values = imputed_df[~imputed_df['Q14'].isin(['1', '2', '3', '4', '5'])]['Q14'].unique()
print("Unexpected values in 'Q14':", unexpected_values)

Unexpected values in 'Q14': [1.         3.         2.38322195 2.         4.         5.        ]
Unexpected values in 'Q14': [1 3 2 4 5]
   Q11_1  Q11_2  Q11_3  Q11_4  Q11_5  Q11_6  Q11_7  Q11_8  Q11_9  Q11_10  \
0    0.0    0.0    0.0    1.0    1.0    0.0    0.0    1.0    0.0     0.0
1    1.0    0.0    0.0    1.0    0.0    0.0    1.0    0.0    0.0     1.0
2    1.0    1.0    0.0    1.0    0.0    0.0    1.0    1.0    0.0     1.0
3    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0     0.0
4    1.0    1.0    0.0    1.0    0.0    0.0    1.0    1.0    0.0     1.0

   Q11_11  Q11_12  Q11_13  Q11_Dont_Know  Q12_1  Q12_2  Q12_3  Q12_4  Q12_5  \
0     1.0     0.0     0.0            0.0    0.0    0.0    1.0    1.0    0.0
1     0.0     0.0     0.0            0.0    0.0    0.0    1.0    1.0    0.0
2     0.0     0.0     0.0            0.0    1.0    0.0    1.0    1.0    0.0
3     0.0     0.0     0.0            1.0    0.0    0.0    0.0    0.0    0.0
4     1.0     0.0     0.0            0.0    0.0    0.0    0.0    1.0    0.0

   Q12_6  Q12_7  Q12_8  Q12_9  Q12_10  Q12_11  Q12_12  Q12_13  Q12_14  \
0    0.0    0.0    1.0    0.0     0.0     1.0     0.0     0.0     0.0
1    0.0    0.0    0.0    0.0     1.0     0.0     0.0     0.0     0.0
2    0.0    0.0    1.0    0.0     1.0     0.0     0.0     0.0     0.0
3    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     1.0
4    0.0    0.0    0.0    0.0     0.0     0.0     0.0     0.0     0.0

   Q12_Dont_Know  Q13_1  Q13_2  Q13_3  Q13_4  Q13_5  Q13_6  Q13_7  Q13_8  \
0            0.0    0.0    0.0    1.0    0.0    1.0    0.0    0.0    0.0
1            0.0    0.0    0.0    0.0    0.0    1.0    1.0    0.0    0.0
2            0.0    1.0    1.0    0.0    0.0    1.0    1.0    0.0    0.0
3            0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4            0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

   Q13_9  Q13_10  Q13_11  Q13_12  Q13_13  Q13_14  Q13_15  Q13_16  \
0    1.0     0.0     0.0     0.0     1.0     1.0     0.0     0.0
1    1.0     0.0     1.0     0.0     0.0     0.0     0.0     0.0
2    1.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0
3    0.0     0.0     0.0     0.0     0.0     0.0     0.0     1.0
4    0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0

   Q13_Dont_Know Q14  Q15       Q17     Q18_1     Q18_2     Q18_3     Q18_4  \
0            0.0   1  2.0  3.000000  5.000000  5.000000  5.000000  5.000000
1            0.0   3  2.0  3.000000  4.000000  3.000000  2.000000  4.000000
2            0.0   1  2.0  1.000000  5.000000  3.555279  4.000000  3.279065
3            0.0   2  2.0  2.182072  3.479726  3.555279  3.276596  3.279065
4            0.0   2  2.0  2.182072  3.479726  4.000000  3.276596  3.279065

      Q18_5     Q18_6     Q18_7     Q18_8     Q18_9    Q18_10  Q18_11  \
0  5.000000  5.000000  5.000000  5.000000  5.000000  5.000000  5.0000
1  3.000000  2.000000  2.000000  3.000000  3.000000  3.000000  2.0000
2  4.000000  4.000000  4.000000  4.000000  4.000000  4.000000  2.5921
3  3.091372  2.593373  2.744042  3.185137  3.467643  3.116706  2.5921
4  2.000000  2.593373  2.744042  3.185137  3.467643  3.116706  2.5921

     Q18_12    Q18_13    Q18_14    Q18_15   Q18_16    Q18_17    Q18_18  \
0  5.000000  5.000000  5.000000  5.000000  5.00000  5.000000  5.000000
1  1.000000  2.000000  4.000000  2.000000  2.00000  4.000000  2.000000
2  4.000000  2.507821  4.000000  2.498841  2.46364  4.000000  4.000000
3  2.625452  2.507821  3.280962  2.498841  2.46364  3.042723  2.241094
4  2.625452  2.507821  3.280962  2.000000  2.46364  3.042723  2.241094

     Q18_19    Q18_20   Q18_21    Q18_22    Q18_23  Q20  Q21  Q16  Q14_1  \
0  5.000000  5.000000  5.00000  5.000000  5.000000  3.0  3.0    0   True
1  4.000000  2.000000  2.00000  2.000000  2.000000  3.0  3.0    3  False
2  3.064053  2.334132  4.00000  2.000000  4.000000  4.0  1.0    0   True
3  3.064053  2.334132  2.81257  2.485254  2.492162  3.0  3.0    2  False
4  1.000000  1.000000  2.81257  2.485254  2.492162  3.0  3.0    3  False

   Q14_2  Q14_3  Q14_4  Q14_5
0  False  False  False  False
1  False   True  False  False
2  False  False  False  False
3   True  False  False  False
4   True  False  False  False
Unexpected values in 'Q14': []

In [11]:
# import pandas as pd

# # Assuming 'imputed_df' is your DataFrame

# # Specify the range of columns you want to process
# columns_to_process = imputed_df.loc[:, 'Q14':'Q21'].columns

# for column in columns_to_process:
#     # Convert to integer type
#     imputed_df[column] = imputed_df[column].astype(int)

#     # Apply one-hot encoding
#     df_encoded = pd.get_dummies(imputed_df[column], prefix=column)

#     # Concatenate the new one-hot encoded columns with the original DataFrame
#     imputed_df = pd.concat([imputed_df, df_encoded], axis=1)

#     # Drop the original column
#     imputed_df = imputed_df.drop(columns=[column])

# pd.set_option('display.max_columns', None)

# print(imputed_df.head())


import pandas as pd

# Assuming 'imputed_df' is your DataFrame

# Specify the range of columns you want to process
columns_to_process = imputed_df.loc[:, 'Q14':'Q21'].columns

# Add 'Q16' to the list of columns
columns_to_process = columns_to_process.union(['Q16'])

for column in columns_to_process:
    # Convert to integer type
    imputed_df[column] = imputed_df[column].astype(int)

    # Apply one-hot encoding
    df_encoded = pd.get_dummies(imputed_df[column], prefix=column)

    # Concatenate the new one-hot encoded columns with the original DataFrame
    imputed_df = pd.concat([imputed_df, df_encoded], axis=1)

    # Drop the original column
    imputed_df = imputed_df.drop(columns=[column])

# Convert True/False to binary (1/0)
imputed_df = imputed_df.astype(int)

pd.set_option('display.max_columns', None)

print(imputed_df.head())

   Q11_1  Q11_2  Q11_3  Q11_4  Q11_5  Q11_6  Q11_7  Q11_8  Q11_9  Q11_10  \
0      0      0      0      1      1      0      0      1      0       0
1      1      0      0      1      0      0      1      0      0       1
2      1      1      0      1      0      0      1      1      0       1
3      0      0      0      0      0      0      0      0      0       0
4      1      1      0      1      0      0      1      1      0       1

   Q11_11  Q11_12  Q11_13  Q11_Dont_Know  Q12_1  Q12_2  Q12_3  Q12_4  Q12_5  \
0       1       0       0              0      0      0      1      1      0
1       0       0       0              0      0      0      1      1      0
2       0       0       0              0      1      0      1      1      0
3       0       0       0              1      0      0      0      0      0
4       1       0       0              0      0      0      0      1      0

   Q12_6  Q12_7  Q12_8  Q12_9  Q12_10  Q12_11  Q12_12  Q12_13  Q12_14  \
0      0      0      1      0       0       1       0       0       0
1      0      0      0      0       1       0       0       0       0
2      0      0      1      0       1       0       0       0       0
3      0      0      0      0       0       0       0       0       1
4      0      0      0      0       0       0       0       0       0

   Q12_Dont_Know  Q13_1  Q13_2  Q13_3  Q13_4  Q13_5  Q13_6  Q13_7  Q13_8  \
0              0      0      0      1      0      1      0      0      0
1              0      0      0      0      0      1      1      0      0
2              0      1      1      0      0      1      1      0      0
3              0      0      0      0      0      0      0      0      0
4              0      0      0      0      0      0      0      0      0

   Q13_9  Q13_10  Q13_11  Q13_12  Q13_13  Q13_14  Q13_15  Q13_16  \
0      1       0       0       0       1       1       0       0
1      1       0       1       0       0       0       0       0
2      1       0       0       0       0       1       0       0
3      0       0       0       0       0       0       0       1
4      0       0       0       0       0       1       0       0

   Q13_Dont_Know  Q14_1  Q14_2  Q14_3  Q14_4  Q14_5  Q14_1  Q14_2  Q14_3  \
0              0      1      0      0      0      0      1      0      0
1              0      0      0      1      0      0      0      0      1
2              0      1      0      0      0      0      1      0      0
3              0      0      1      0      0      0      0      1      0
4              0      0      1      0      0      0      0      1      0

   Q14_4  Q14_5  Q15_1  Q15_2  Q16_0  Q16_1  Q16_2  Q16_3  Q17_1  Q17_2  \
0      0      0      0      1      1      0      0      0      0      0
1      0      0      0      1      0      0      0      1      0      0
2      0      0      0      1      1      0      0      0      1      0
3      0      0      0      1      0      0      1      0      0      1
4      0      0      0      1      0      0      0      1      0      1

   Q17_3  Q17_4  Q17_5  Q18_1_1  Q18_1_2  Q18_1_3  Q18_1_4  Q18_1_5  Q18_10_1  \
0      1      0      0        0        0        0        0        1         0
1      1      0      0        0        0        0        1        0         0
2      0      0      0        0        0        0        0        1         0
3      0      0      0        0        0        1        0        0         0
4      0      0      0        0        0        1        0        0         0

   Q18_10_2  Q18_10_3  Q18_10_4  Q18_10_5  Q18_11_1  Q18_11_2  Q18_11_3  \
0         0         0         0         1         0         0         0
1         0         1         0         0         0         1         0
2         0         0         1         0         0         1         0
3         0         1         0         0         0         1         0
4         0         1         0         0         0         1         0

   Q18_11_4  Q18_11_5  Q18_12_1  Q18_12_2  Q18_12_3  Q18_12_4  Q18_12_5  \
0         0         1         0         0         0         0         1
1         0         0         1         0         0         0         0
2         0         0         0         0         0         1         0
3         0         0         0         1         0         0         0
4         0         0         0         1         0         0         0

   Q18_13_1  Q18_13_2  Q18_13_3  Q18_13_4  Q18_13_5  Q18_14_1  Q18_14_2  \
0         0         0         0         0         1         0         0
1         0         1         0         0         0         0         0
2         0         1         0         0         0         0         0
3         0         1         0         0         0         0         0
4         0         1         0         0         0         0         0

   Q18_14_3  Q18_14_4  Q18_14_5  Q18_15_1  Q18_15_2  Q18_15_3  Q18_15_4  \
0         0         0         1         0         0         0         0
1         0         1         0         0         1         0         0
2         0         1         0         0         1         0         0
3         1         0         0         0         1         0         0
4         1         0         0         0         1         0         0

   Q18_15_5  Q18_16_1  Q18_16_2  Q18_16_3  Q18_16_4  Q18_16_5  Q18_17_1  \
0         1         0         0         0         0         1         0
1         0         0         1         0         0         0         0
2         0         0         1         0         0         0         0
3         0         0         1         0         0         0         0
4         0         0         1         0         0         0         0

   Q18_17_2  Q18_17_3  Q18_17_4  Q18_17_5  Q18_18_1  Q18_18_2  Q18_18_3  \
0         0         0         0         1         0         0         0
1         0         0         1         0         0         1         0
2         0         0         1         0         0         0         0
3         0         1         0         0         0         1         0
4         0         1         0         0         0         1         0

   Q18_18_4  Q18_18_5  Q18_19_1  Q18_19_2  Q18_19_3  Q18_19_4  Q18_19_5  \
0         0         1         0         0         0         0         1
1         0         0         0         0         0         1         0
2         1         0         0         0         1         0         0
3         0         0         0         0         1         0         0
4         0         0         1         0         0         0         0

   Q18_2_1  Q18_2_2  Q18_2_3  Q18_2_4  Q18_2_5  Q18_20_1  Q18_20_2  Q18_20_3  \
0        0        0        0        0        1         0         0         0
1        0        0        1        0        0         0         1         0
2        0        0        1        0        0         0         1         0
3        0        0        1        0        0         0         1         0
4        0        0        0        1        0         1         0         0

   Q18_20_4  Q18_20_5  Q18_21_1  Q18_21_2  Q18_21_3  Q18_21_4  Q18_21_5  \
0         0         1         0         0         0         0         1
1         0         0         0         1         0         0         0
2         0         0         0         0         0         1         0
3         0         0         0         1         0         0         0
4         0         0         0         1         0         0         0

   Q18_22_1  Q18_22_2  Q18_22_3  Q18_22_4  Q18_22_5  Q18_23_1  Q18_23_2  \
0         0         0         0         0         1         0         0
1         0         1         0         0         0         0         1
2         0         1         0         0         0         0         0
3         0         1         0         0         0         0         1
4         0         1         0         0         0         0         1

   Q18_23_3  Q18_23_4  Q18_23_5  Q18_3_1  Q18_3_2  Q18_3_3  Q18_3_4  Q18_3_5  \
0         0         0         1        0        0        0        0        1
1         0         0         0        0        1        0        0        0
2         0         1         0        0        0        0        1        0
3         0         0         0        0        0        1        0        0
4         0         0         0        0        0        1        0        0

   Q18_4_1  Q18_4_2  Q18_4_3  Q18_4_4  Q18_4_5  Q18_5_1  Q18_5_2  Q18_5_3  \
0        0        0        0        0        1        0        0        0
1        0        0        0        1        0        0        0        1
2        0        0        1        0        0        0        0        0
3        0        0        1        0        0        0        0        1
4        0        0        1        0        0        0        1        0

   Q18_5_4  Q18_5_5  Q18_6_1  Q18_6_2  Q18_6_3  Q18_6_4  Q18_6_5  Q18_7_1  \
0        0        1        0        0        0        0        1        0
1        0        0        0        1        0        0        0        0
2        1        0        0        0        0        1        0        0
3        0        0        0        1        0        0        0        0
4        0        0        0        1        0        0        0        0

   Q18_7_2  Q18_7_3  Q18_7_4  Q18_7_5  Q18_8_1  Q18_8_2  Q18_8_3  Q18_8_4  \
0        0        0        0        1        0        0        0        0
1        1        0        0        0        0        0        1        0
2        0        0        1        0        0        0        0        1
3        1        0        0        0        0        0        1        0
4        1        0        0        0        0        0        1        0

   Q18_8_5  Q18_9_1  Q18_9_2  Q18_9_3  Q18_9_4  Q18_9_5  Q20_1  Q20_2  Q20_3  \
0        1        0        0        0        0        1      0      0      1
1        0        0        0        1        0        0      0      0      1
2        0        0        0        0        1        0      0      0      0
3        0        0        0        1        0        0      0      0      1
4        0        0        0        1        0        0      0      0      1

   Q20_4  Q20_5  Q21_1  Q21_2  Q21_3  Q21_4  Q21_5
0      0      0      0      0      1      0      0
1      0      0      0      0      1      0      0
2      1      0      1      0      0      0      0
3      0      0      0      0      1      0      0
4      0      0      0      0      1      0      0

In [12]:
# import pandas as pd
# from sklearn.feature_selection import mutual_info_classif
# ###MUTUAL INFO
# import pandas as pd
# from sklearn.feature_selection import mutual_info_classif
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Assuming df is your DataFrame
# target_column = 'Q16'
# threshold = 0.01  # Set your desired correlation threshold

# # Copy the DataFrame to avoid modifying the original
# imputed_df_copy = imputed_df.copy()

# # Use mutual_info_classif for feature selection with categorical target
# X = imputed_df_copy.drop(columns=[target_column])
# y = imputed_df_copy[target_column]

# # Calculate mutual information between features and target
# mutual_info_values = mutual_info_classif(X, y)

# # Create a Series with feature names and their mutual information scores
# feature_mutual_info = pd.Series(mutual_info_values, index=X.columns)

# # Select features based on the mutual information threshold
# selected_features = feature_mutual_info[feature_mutual_info > threshold].index.tolist()

# # Rank features by mutual information scores
# ranked_features = feature_mutual_info.sort_values(ascending=False)

# # Display the ranked features
# print("Ranked Features:")
# print(ranked_features)

# # Set pandas display options to show all rows
# pd.set_option('display.max_rows', None)

# # Print the ranked features
# print("Ranked Features:")
# print(ranked_features)


# non_zero_features = ranked_features[ranked_features > 0.00001]

# # Display non-zero features and their mutual information scores
# print("Non-zero Mutual Information Scores for Features:")
# print(non_zero_features)
# pd.reset_option('display.max_rows')

# non_zero_columns = non_zero_features.index.tolist()

# # Create a new DataFrame with only the non-zero columns
# new_df = imputed_df[non_zero_columns].copy()
# new_df['Q16'] = imputed_df['Q16']
# print(new_df.head())
# print("DataFrame Shape:", imputed_df.shape)
# imputed_df = new_df
# print("DataFrame Shape:", imputed_df.shape)

In [13]:
# new_df.head()



# scaled_columns = new_df.iloc[:, :-1].apply(lambda x: (x - x.min()) / (x.max() - x.min()) if pd.api.types.is_numeric_dtype(x) else x, axis=0)

# # Concatenate the original DataFrame with the scaled columns
# new_df = pd.concat([scaled_columns, new_df['Q16']], axis=1)

# # Convert values to binary (0 or 1) based on the condition
# new_df.iloc[:, :-1] = new_df.iloc[:, :-1].apply(lambda x: x.map(lambda val: 1 if pd.notna(val) and float(val) > 0.80 else 0))

# # Convert to integer to make them binary
# new_df.iloc[:, :-1] = new_df.iloc[:, :-1].astype(float)


# new_df.head()

In [14]:
# correlation_matrix = imputed_df.corr()
# # Set pandas display options to show all rows
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# # Print the correlation matrix
# #print(correlation_matrix)
# q16_correlations = correlation_matrix['Q16'].sort_values()

# # Print the correlation coefficients
# print(q16_correlations)

In [15]:
# correlation_threshold = 0.01

# # Select features with correlation above the threshold
# selected_features_above = q16_correlations[q16_correlations > correlation_threshold].index.tolist()

# # Select features with correlation below the negative threshold
# selected_features_below = q16_correlations[q16_correlations < -correlation_threshold].index.tolist()

# # Combine both sets of features
# selected_features = selected_features_above + selected_features_below
# selected_features.remove('Q16')

# # Print the selected features
# print("Selected Features:")
# print(selected_features)

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Assuming 'imputed_df' is your DataFrame and 'Q16' is the target column
X = imputed_df.drop(columns=['Q16_0', 'Q16_1', 'Q16_2', 'Q16_3'])
y = imputed_df[['Q16_0', 'Q16_1', 'Q16_2', 'Q16_3']]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a random forest classifier
classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the classifier on the training data
classifier.fit(X_train, y_train)

# Predict the labels on the test set
y_pred = classifier.predict(X_test)

# Calculate the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Classification Accuracy: {accuracy}")

Classification Accuracy: 0.4402618657937807